phidata
python-dotenv
pandas
yfinance
packaging
duckduckgo-search
fastapi
uvicorn
groq
langchain-openai
openai
sqlalchemy
pgvector
psycopg2-binary
pypdf
psycopg
streamlit
phidata
google-generativeai
duckduckgo-search
